* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
}
main {
display:flex;
flex-flow:column;
}
h2 {
padding-bottom:10px;
}

header {
background:pink;
width:100%;
padding:30px;
}

section {
padding:30px;
}
article {
    padding: 20px 0;
}
footer {
padding: 10px;
background:black;
color: white !important;
}

.h50 {
    height: 50px;
}
.w100 { width: 100%; }
.w50 { width: 50%; }
.w33 { width: 33.333%; }
.w25 { width: 25%; }
.column {
    display: flex;
    flex-flow: column;
    gap: 2%;
}
.row {
    display: flex;
    gap: 2%;
    flex-flow: row;
}
.vhCen {
    display: flex;
    align-items: center;
    justify-content: center;
}
.red {
    background: red;
}
.purple {
    background: purple;
}