* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.w100 { width: 100%; }
.w50 { width: 50%; }
.w33 { width: 33.333%; }
.w25 { width: 25%; }
.column {
    display: flex;
    flex-flow: column;
    gap: 2%;
}
.row {
    display: flex;
    gap: 2%;
    flex-flow: row;
}
.vhCen {
    display: flex;
    align-items: center;
    justify-content: center;
}
.red {
    background: red;
}
.purple {
    background: purple;
}
header {
padding:10px;
background: red;
display:flex;
flex-flow:column;
gap:20px;
}